.title-list {
  list-style-type: none;
  text-align: left;
}

.title-list-link {
  font-size: 16pt;
  font-weight: bold;
}

.title-list-link:link {
  text-decoration: none;
  color: salmon;
}

.title-list-link:visited {
  text-decoration: none;
  color: darksalmon;
}

.title-list-description {
  font-size: 10pt;
  margin-top: 0px;
}

.title-vote-container {
  display: inline-block;
  text-align: center;
  /* border: 1px solid red; */
  width: 7%;
}

.title-list-text-container {
  display: inline-block;
  width: 80%;
  /* border: 1px solid blue; */
  margin-left: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.title-list-post {
  margin: 2em 0;
}